<!DOCTYPE html>

<html>

<head>
	<title>
		FLOG - Cuoco
	</title>

	<link rel="stylesheet" href="\css\stile.css" />
	<link rel="stylesheet" href="\css\bootstrapcss\bootstrap.min.css" />
  <link rel="stylesheet" href="\css\icon\bootstrap-icons-1.11.3\font\bootstrap-icons.min.css" />
	<script defer src="js/bootstrap.bundle.min.js"></script>

</head>

<body>

   <nav class="navbar navbar-expand-lg bg-body-tertiary coluno">
    <div class="container coluno" style="border-radius: 20px;height: 55px;">
      <a class="navbar-brand " >FLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        
		<div class="row ">
				
		  <div class="col d-flex justify-content-end">
			    <a class="btn bi bi-arrow-return-right" style="background-color: white;" href="/logout"></a>
			</div>

		</div>
      </div>
    </div>
  </nav>
  
  <header>

    <div class="container-lg my-2 text-center">
      <div class="row  gia1 bordo">
        
        <div class="col-lg-6 col-md-5 p-3  justify-content-center ">

		  <h2 class="display-2">Il Mio Profilo:</h2>
           <h2 class="display-2 d-flex justify-content-center"  >
			 
              <td th:text="${user.name}">Name</td> 
              <td th:text="${user.surname}">Name</td> 

          </h2>
          
          
      
        </div>
            
            
        <div class="col-lg-6 col-md-5 " style="justify-content: start;">
            <span><img width="50%" src="/images/grafiche/coltelli.jpg" class="my-3 img-fluid img-thumbnail" style="border-radius: 20px;"/></span>
        </div>
       
      
      </div>

    </div>
     
    </header>
    

   
  	<!--utenti-->
    <div class="container text-center my-1">
        <div class="row  mt-1 blu2 bordo" >
          <div class="col p-2  ">
  
			<h4 class="display-4 d-flex justify-content-start"  >Users</h4>
	        
	        
		<div th:if="${users == null}">
		    <p>Users list is null</p>
		</div>
		
		
		<div th:if="${users != null and users.isEmpty()}">
		    Non ci sono users
		</div>
		<div th:if="${users != null and !users.isEmpty()}">
		    <ul class="list-group">
		        <li th:each="user : ${users}" class="list-group-item" >
		            <div style="display: flex; justify-content: space-between; align-items: center;">
		                <div>
		                    <h5 class="carta-testo" th:text="${user.user.name} + ' ' + ${user.user.surname}"></h5>
		                </div>
		                
		                <div style="display: flex; justify-content: end; align-items: center;">
								</h5><a class="d-flex justify-content-end btn btn-outline-primary ms-1" th:href="@{/editUser/{id}(id=${user.user.id})}">Edit  </a>
								<a class="d-flex justify-content-end btn btn-outline-primary ms-1" th:href="@{/myPage/delete/{id}(id=${user.user.id})}" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>	
							</div>
		            </div>
		        </li>
		    </ul>
		</div>
		        
	      
          </div>
          <div class="row d-flex justify-content-end p-2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
 			  <a class="btn btn-outline-dark ms-4 my-2" style="width: 20%;" href="/registerUser" >Aggiungi un Utente</a>
	  </div>
  		  
  			
      </div>
    
		
	  
	
    
    </div>




	<div class="container text-center " >
	    <div class="row justify-content-center mb-3" style="gap: 10px;">
	      <div class="col-4 p-2 my-1 colquattro" style="border-radius: 15px;">
	        <h1 class="diplay-6 my-4">Flog</h1>
	        <a class="btn  btn-outline-primary bi bi-person-circle ms-1"  href="/login"> Login</a>
	        <a class="btn  btn-outline-secondary bi bi-plus-circle-fill ms-1"  href="/register"> Registrati</a>
	
	      </div>
	      <div class="col-7 text-center p-2 my-1 colquattro" style="border-radius: 15px;">
	        <h5>Chi siamo ?</h5>
	        <p class="small">Siamo un team che ha creato questo blog per rendere meno noisosi le i vostri pranzi e le vostre cene, questo sito web è stato progettato da Niccolo Corraro per il Corso di Sistemi Informativi su Web.</p>
	      	
	      	<div class="d-flex align-items-center justify-content-center" > 
			    <h6 class="">Seguici :</h6>
			    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/nicc.cor/" ></a>
			    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
			    <a class="bi bi-tiktok" href="https://www.tiktok.com/@nicc.cor" ></a>
			</div>
	      </div>
	    </div>
	  </div>


</body>

</html>
