<html>

<head>
	<title>
		FLOG - Homepage
	</title>
	<link rel="stylesheet" href="\css\stile.css" />
	<link rel="stylesheet" href="\css\bootstrapcss\bootstrap.min.css" />
    <link rel="stylesheet" href="\css\icon\bootstrap-icons-1.11.3\font\bootstrap-icons.min.css" />

    <script defer src="\js\bootstrap.bundle.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary coluno">
    <div class="container coluno" style="border-radius: 20px;height: 55px;">
      <a class="navbar-brand " >FLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        
		        <!-- Pulsante di Login, visibile solo se l'utente non è autenticato -->
		<a th:if="${#authorization.expression('isAnonymous()')}" th:href="@{/login}" class="btn bi bi-person-circle ms-1">Login</a>
		
		<!-- Pulsante di My Page, visibile solo se l'utente è autenticato -->
		<a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/myPage}" class="btn bi bi-person-circle ms-1">My Page</a>



        


      </div>
    </div>
  </nav>

  <header>

    <div class="container my-1 text-center ">
      <div class="row text-center blu1 " style="border-radius: 15px;">
		  
        <div class="col  p-5  text-center " >
          <img class="img-fluid img-thumbnail " src="/images/coltelli.jpg" style="width: 200px; height: auto">
          
        </div>
        <div class="col-6 p-5 blu1 text-center p-3">

          <h1 class="display-1">FLOG</h1>
          <p class="display-6">l'arte di mangiare</p>

        </div>
        <div class="col p-5 text-center " >
          <img class="img-fluid img-thumbnail " src="/images/coltelli.jpg" style="width: 200px; height: auto">
          
        </div>
      </div>

    </div>

  </header>

  <div class="container text-center">
  <div class="row gia1 bordo">
    <div class="col-lg-3 col-md-3 p-2 my-1 d-flex align-items-center justify-content-center ">
      <p class="small">"Non riesco a sopportare quelli <br>che non prendono seriamente<br> il cibo." (Oscar Wilde)</p>
    </div>
    <div class="col-lg-3 col-md-3p-2 my-1 d-flex align-items-center justify-content-center">
      <p class="small">"L'entusiasmo e' per la vita quello che la <br>fame e' per il cibo." (Bertrand Russel)</p>
    </div>
    <div class="col-lg-3 col-md-3 p-2 my-1 d-flex align-items-center justify-content-center">
      <p class="small">"Se si fa in quattro per renderti <br>felice, e' una pizza". (Anonimo)</p>
    </div>
    <div class="col-lg-3 col-md-3 p-2 my-1 d-flex align-items-center justify-content-center">
      <p class="small">"Mangiare e' incorporare un<br> territorio" (Jean Brunhes)</p>
    </div>
  </div>
</div>


  <div class="container text-center  ">
    <div class="row  ">
      <div class="col-6 p-2 my-1 coluno bordaturaS">
         <img class="img-fluid img-thumbnail " src="images/cucina2.jpg" style="width: 700px; height: auto">
      </div>
      <div class="col-3 p-2 my-1 coldue d-flex align-items-center justify-content-center">
        <p class="display-6  ">(Food-bLOG)</p>
      </div>
      <div class="col-3 p-2 my-1 coluno d-flex align-items-center justify-content-center bordaturaD">
        <p class="small">'cibo.cibo.cibo.cibo.cibo.cibo.cibo.cibo.cibo.<br>
          cibo.cibo.cibo.cibo.cibo.cibo.cibo.cibo.cibo.<br>
          cibo.cibo.cibo.cibo.cibo.cibo.cibo.cibo.cibo.'<br></p>
      </div>

    </div>

  </div>





  <div class="container text-center ">
    <div class="row" >
      <div class="col-7  mb-1 blu1 text-center p-5 bordaturaS">

        <h2>Le Nostre ricette</h2>
        <p>Qui, puoi immergerti in un universo ricco di migliaia di ricette, pronte a soddisfare ogni tua voglia culinaria, indipendentemente dalla tua esperienza in cucina. 
			Da chi cerca ricette casalinghe semplici e gustose per un pasto quotidiano, a coloro che desiderano sfidarsi con ricette gourmet per una cena speciale.
			Naviga tra ricette che vanno dai piatti rustici e affascinanti della tradizione italiana fino a piatti gourmet raffinati ed eleganti.
			</p>
        <a href="\ricette" class="btn btn-outline-primary ">
          <h4>Elenco Ricette</h6>
        </a>

      </div>
      <div class="col-5 p-2 mb-1 d-none d-md-block colquattro bordaturaD">
        <img class="img-fluid img-thumbnail" src="images/OIG1.jpeg" style="width: 600px; height: auto;">
      </div>
      <div class="col-5 p-2 mb-1 colquattro bordaturaS">
        <img class="img-fluid img-thumbnail " src="images/OIG3.jpeg" style="width: 600px; height: auto">

      </div>
      <div class="col-7  mb-1 blu1 text-center p-5 bordaturaD" >
        <h2>I Nostri Cuochi</h2>
        <p>Da giovani chef emergenti che stanno facendo le loro prime esperienze in rinomati ristoranti, a maestri culinari con decenni di esperienza e premi internazionali vinti,
			 la nostra lista di cuochi offre una varietà impressionante di talenti culinari.Attraverso le loro ricette, avrete l'opportunità di viaggiare con noi in un tour 
			 gastronomico globale, scoprendo ricette che vanno dalle tradizioni locali alle fusioni creative, tutte interpretate con un tocco personale che rende unico ogni piatto.</p>
        <a href="/cuochi" class="btn btn-outline-primary ">
          <h4>Elenco Cuochi</h4>
        </a>
      </div>
    </div>

  </div>




  <div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 10px;">
      <div class="col-4 p-2 my-1 colquattro" style="border-radius: 15px;">
        <h1 class="diplay-6 my-4">Flog</h1>
        <a class="btn  btn-outline-primary bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-secondary bi bi-plus-circle-fill ms-1"  href="/register"> Registrati</a>

      </div>
      <div class="col-7 text-center p-2 my-1 colquattro" style="border-radius: 15px;">
        <h5>Chi siamo ?</h5>
        <p class="small">Siamo un team che ha creato questo blog per rendere meno noisosi le i vostri pranzi e le vostre cene, questo sito web è stato progettato da Niccolo Corraro per il Corso di Sistemi Informativi su Web.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/nicc.cor/" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@nicc.cor" ></a>
		</div>
      </div>
    </div>
  </div>



</body>
</html>