<!DOCTYPE html>
<html>

<head>
	<title>
		FLOG - Login
	</title>
    <link rel="stylesheet" href="\css\stile.css" />
	<link rel="stylesheet" href="\css\bootstrapcss\bootstrap.min.css" />
    <link rel="stylesheet" href="\css\icon\bootstrap-icons-1.11.3\font\bootstrap-icons.min.css" />

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container blu1" style="border-radius: 20px;height: 55px;">
      <a class="navbar-brand " >FLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bi bi-house" aria-current="page" href="/"></a>
          </li>
        </ul>
        
        <a class="btn bi bi-person-circle ms-1" style="background-color: white;" href="/login"></a>

      </div>
    </div>
  </nav>


    <div class="container-lg my-2 text-center  ">
      <div class="row  text-center gia1 bordo">
        
        <div class="col-lg-5 col-md-5 p-5  text-center p-3">

            <h4 class="display-4 justify-content-center" >
                LOGIN
            </h4>
            <form th:action="@{/login}" method="POST">
				
				
				<div class="form-floating mb-3">
				  <input name="username" type="text" style="border-style: double; border-color: black;" class="form-control" id="floatingInput" placeholder="Username" required />
				  <label for="floatingInput">Username</label>
				</div>
				<div class="form-floating">
				  <input name="password" type="password" style="border-style: double; border-color: black;" class="form-control" id="floatingPassword" placeholder="Password" required/>
				  <label for="floatingPassword">Password</label>
				</div>
				<div>
					<span th:if="${param.error != null}">Username o password errati</span>
				</div>
			
			<div>
				<span><button class="my-3 btn btn-outline-dark" type="submit">Login</button></span>
			</div>
	</form>

        </div>
            
        <div class="col-lg-7 col-md-5 ">
            <img class="img-fluid img-thumbnail my-4" src="/images/grafiche/OIG1.jpeg" style="width: 600px; height: auto;">
        </div>
        
      </div>

    </div>
    
    <div class="container-lg mb-2 text-center blu1 bordo">
      <div class="row text-center bordo " style="justify-content: center; background-image: url(/images/grafiche/OIG3.jpeg); background-size: cover">
        
        
        
        <div class="col-lg-8 col-md-5  text-center p-3" >

			<div style="background-color: rgb(37, 150, 190,0.5); border-radius: 20px;">
	            <h6 class="display-4 justify-content-center" >
	                Registrati ora!
	            </h6>
	            <a href="/register" class="btn my-2" style="background-color: #9fc8d9;border-width: 1px; border-color: black;">Registrati</a>
			</div>
        </div>
            
        
        
      </div>

    </div>
     
  <div class="container text-center " >
    <div class="row justify-content-center mb-3" style="gap: 10px;">
      <div class="col-4 p-2 my-1 colquattro" style="border-radius: 15px;">
        <h1 class="diplay-6 my-4">Flog</h1>
        <a class="btn  btn-outline-primary bi bi-person-circle ms-1"  href="/login"> Login</a>
        <a class="btn  btn-outline-secondary bi bi-plus-circle-fill ms-1"  href="/register"> Registrati</a>

      </div>
      <div class="col-7 text-center p-2 my-1 colquattro" style="border-radius: 15px;">
        <h5>Chi siamo ?</h5>
        <p class="small">Siamo un team che ha creato questo blog per rendere meno noisosi le i vostri pranzi e le vostre cene, questo sito web è stato progettato da Niccolo Corraro per il Corso di Sistemi Informativi su Web.</p>
      	
      	<div class="d-flex align-items-center justify-content-center" > 
		    <h6 class="">Seguici :</h6>
		    <a class="bi bi-instagram mx-2" href="https://www.instagram.com/nicc.cor/" ></a>
		    <a class="bi bi-facebook mx-2" href="https://www.facebook.com/universitaroma3/?locale=it_IT" ></a>
		    <a class="bi bi-tiktok" href="https://www.tiktok.com/@nicc.cor" ></a>
		</div>
      </div>
    </div>
  </div>


</body>

</html>